{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div>
        <h1>Bienvenue sur san-gi.tech</h1>

        <h2>Ce site.... vide est destiner a devenir un genre de mini blog de dev ? ou quelques chose dans le genre...</h2>

        <p>Pour le moment, il ne va y avoir qu'une mini liste statique d'autres projets... Pour le moments...</p>

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
{% endblock %}
