{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div>
        <h1>Bienvenue sur san-gi.tech</h1>

        <h2>Ce site.... vide est destiner a devenir un genre de mini blog de dev ? ou quelques chose dans le genre...</h2>

        <p>Pour le moment, il ne va y avoir qu'une mini liste statique d'autres projets... Pour le moments...</p>

    </div>
{% endblock %}
