{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div>
        <h1>Bienvenue sur san-gi.tech</h1>

        <h2>Ce site.... vide est destiner a devenir un genre de mini blog de dev ? ou quelques chose dans le genre...</h2>

        <p>Pour le moment, il ne va y avoir qu'une mini liste statique d'autres projets... Pour le moments...</p>
        <div class="container">
            <div class="row row-cols-2">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="img{{ asset("lifegame.PNG") }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="http://lifegame.fun">Lifegame.fun</a></h5>
                            <p class="card-text">Lifegame.fun est un mini site sur lequel un script JS fait tourner le jeu de la vie. pour en savoir plus sur le jeu de la vie : <a href="https://fr.wikipedia.org/wiki/Jeu_de_la_vie">wikipédia</a></p>
                            <a href="http://lifegame.fun" class="btn btn-primary">Lifegame.fun</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="img{{ asset("lifegame.PNG") }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pac-Man</h5>
                            <p class="card-text">(no url) Pacman était un projet lié a l'IA, entrainer une IA en respectant l'algorythme de monté carlos</p>
                            <a href="#" class="btn btn-primary">(no)</a>
                        </div>
                    </div>
                </div>
                <div class="col">

                </div>
                <div class="col">

                </div>
            </div>

        </div>



    </div>
{% endblock %}
