{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('appRandoCat') }}
{% endblock %}

{% block body %}
    {% include 'blog/rando/nav.html.twig' %}


<div class="container pt-5">
    <h1 class="text-center p-5">{{ cat }}</h1>
    <p>{{ catact.description}}</p>
<x-search></x-search>
</div>
{% endblock %}
