{% extends 'base.html.twig' %}

{% block title %}Blog rando{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('appRando') }}
{% endblock %}

{% block body %}
    {% include 'blog/rando/nav.html.twig' %}

      <reactBase></reactBase>
    <div class="text-center p-5" >
        <h2 class=" fs-1  p-4">Blog Rando<br> San-gi tech</h2>
        <button type="button" class="btn btn-secondary btn-lg  mb-5 mt-2">Première visite ?</button>
        <p class=" p-2">Je suis sangi, un dev qui ne veux pas passer sa vie enfermer dans un bureau</p>
        <p  class=" p-2" >Comment ça se fais que tu sois là ? ce p'tit blog, j'le construit petit a petit, j'fais des petit test et tout, mais en vrai, pour le moment, c'est clairement pas ouf xD, fin bref, visite un peu si ça te chante</p>
        <p  class=" p-2"> Pour clarifier l'idée, j'vais copier "le principe" de quelques sites blog, histoire d'avoir des idée pour en faire un bien</p>
    </div>
    <div class="bg-light text-center">
        <h2 class="p-5">Derniers Articles</h2>
    </div>
    <div class="bg-light text-center">
        <h2 class="p-5">Articles Populaires</h2>
    </div>
    <div class="p-5 blogRando" style='background-image: url("./img/fond/drone1.jpg");'>
    <div class="text-center " >
        <div class="bg-light">
            <h2 class="p-5">Pourquoi ce blog</h2>
            <p>Pourquoi pas ? </p>
            <p>En vrai, le secret pour progresser dans le domaine du dev, bha, c'est de créer des truc</p>
            <p>Et en plus c'est cool de partager ce que tu fais </p>
            <p>Lorem ipsup </p>
            <p>Lorem ipsup </p>
            <p>Lorem ipsup </p>
            <p>Lorem ipsup </p>
            <p>Lorem ipsup </p>

            <p>Lorem ipsup </p>


            <p>Lorem ipsup </p>
        </div>
    </div>
    </div>
    {% include 'blog/rando/footer.html.twig' %}
{% endblock %}
