@import '~bootstrap/scss/bootstrap';
body {
    background-color: lightgray;
}
.test1{
    color:red;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 200ms;
    z-index: 1;
}
.test2{
    color:blue;
    position: fixed;
    top: -200px;
    right: 0;
    left: 0;
    transition: all 4s;
    z-index: 1;
}
.blogRando{

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //padding-top: 100vh;
}
.imgtop{

    background-color: #cccccc;
    height:  100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.imgtoptxt{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {

}
@include media-breakpoint-up(xl) {

}
@include media-breakpoint-up(xxl) {

}
