@import '~bootstrap/scss/bootstrap';
body {
    background-color: lightgray;
}
.test1{
    color:red;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 100ms;
}
.test2{
    color:blue;
    position: fixed;
    top: -100px;
    right: 0;
    left: 0;
    transition: all 2s;
}
.blogRando{

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100vh;
}
